{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/articles.css') }}">
{% endblock css %}

{% block title %}
    Page d'articles
{% endblock title %}

{% block main %}
    <h1>Pages d'articles</h1>

    {% for article in articles %}
        {% if article.isPublished %}
            <article>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <img src="{{ article.image }}" style="width:100px" alt="{{ article.title }}" />
                <a href="{{ path("article", {"id":article.id}) }}">Voir l'article</a>
            </article>
        {% endif %}
    {% endfor %}

{% endblock main %}